@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'), /* IE9 Compat Modes */
    url('src/roboto-regular.woff') format('woff'), /* Modern Browsers */
    url('src/roboto-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }
  article{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}