@font-face {
    font-family: 'Roboto';
    src: url('src/roboto.eot'),
    url('src/roboto-regular.woff') format('woff'), 
    url('src/roboto-regular.ttf')  format('truetype');
  }
  article{
    font-family: "Roboto", sans-serif;
  }